body{
    margin: 0%;
    margin-top: -20px;
    
    font-family: 'Bebas Neue', cursive;
}
header  {
    background-color: black;  
}

header ul{
    list-style: none;
    display: flex;
    color: white;
    margin-right: 0px;
    padding-left: 76%;
    margin-top: 0px;
    
}
header li{
    margin-right: 10px;
}
header h1{
    color: white;
    font-size: 30px;
}
.canchabasket {
    margin-top: -72px;
    background-image: url(imagenes/baasket/joshua-kantarges-N_7Kb4hpaoU-unsplash.jpg);
    background-size: 100%;
    color: white;
    font-size: 20px;
}
.segundaseccion{
    
    background-image: url(imagenes/baasket/markus-spiske-BfphcCvhl6E-unsplash.jpg);
    background-size: 100%;
    font-size: 30px;
    color: bisque;
    margin-top: -40px;
}
h1 {
    color: white;
    font-size: 80px;
}
footer p{
    color: gray;
    background-color: rgb(207, 203, 203);
}