body{
    background-image: url(imagenes/joshua-kantarges-N_7Kb4hpaoU-unsplash.jpg);
    background-size: 100%;
    font-family: 'Bebas Neue', cursive;
}

header ul{
    list-style: none;
    display: flex;
    color: white;
    margin-right: 0px;
    padding-left: 76%;
    margin-top: 0px;
    
}
header li{
    margin-right: 10px;
}
header h1{
    color: white;
    font-size: 20px;
}
main{
    color: white;
    font-size: 20px;
}
h1 {
    color: white;
    font-size: 80px;
}
footer p{
    color: gray;
    background-color: rgb(207, 203, 203);
}