body {
    font-family: 'Bebas Neue', cursive;;
    background-color: black;
    
}
a{
    text-decoration: none;
}

header:hover{
    background-color: red;
    color: rgb(231, 241, 238);
}
header ul{
    list-style: none;
    display: flex;
    color: white;
    margin-right: 0px;
    padding-left: 75%;
    margin-top: 0px;
    
}
header li{
    margin-right: 10px;
}
header a{
    text-decoration: none;
}
header h1{
    color: white;
    font-size: 20px;
}
main{
    color: white;
    font-size: 20px;
}
h1 {
    color: white;
    font-size: 80px;
    text-decoration: none;
}
footer p{
    color: gray;
    background-color: rgb(207, 203, 203);
}